<footer class="bg-white shadow-sm py-3 mt-auto border-top">
  <div class="container my-auto">
    <div class="text-center my-auto" style="color: #333; font-weight: 600; font-size: 15px;">
      © <span>Sultana 2025</span>. All rights reserved.
    </div>
  </div>
</footer>