<!-- sidebar.ejs -->
<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark h-100">
    <a href="#" class="d-flex align-items-center mb-3 text-white text-decoration-none">
        <i class="fas fa-user-cog me-2"></i>
        <span class="fs-5">Admin</span>
    </a>
    <hr class="text-white">
    <ul class="nav nav-pills flex-column mb-auto">
        <li><a href="/admin/dashboard" class="nav-link text-white">Dashboard</a></li>
        <li><a href="/admin/user-list" class="nav-link text-white">Manage Users</a></li>
        <li><a href="/admin/profile-list" class="nav-link text-white"> Users Profiles</a></li>
        <li><a href="/admin/post-list" class="nav-link text-white"> Users Posts</a></li>
    </ul>
</div>